@using MVC_221.Entity
@model List<Categories>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    Kategoriler

    @foreach (var item in Model)
    {
        <hr />
        <b>@item.CategoryID	</b>
        <b>@item.CategoryName</b>
        <br />
        @item.Description
    }

</body>
</html>
